.body {
    font-family: 'Comfortaa', cursive !important;
    max-width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: auto auto auto auto auto auto;
    margin: 0px 0px;
    position: relative;
    align-items: stretch;
}

.nav {
    text-align: center;
    text-shadow: 1px 1px 1px black;
    background: transparent;
    letter-spacing: 2px;
    font-size: 20px;
    margin: 1% 0%;
}
.mainbackground {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.mainblock{
    color: #d6d6d6;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    letter-spacing: 1px;
}


